@import url('../vendor/bower_components/annotator/annotator.min.css');

/* TODO: investigate namespacing boostrap selectors */
@import url('../vendor/bower_components/bootstrap/dist/css/bootstrap.min.css');

.react-module {
  position: fixed;
  top: 25px;
  z-index: 9999;
  padding: 10px;
  transition: right 0.5s ease-out;
}

.react-module > div {
  float: left;
  margin-right: 5px;
}

.login-inputs {
  display: block;
}

.login-button {
  display: block;
  width: 100%;
}


