@import url('../vendor/bower_components/annotator/annotator.min.css');
/* TODO: investigate namespacing boostrap seletors */
@import url('../vendor/bower_components/bootstrap/dist/css/bootstrap.min.css');


#react-root {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border: 2px solid black;
  padding: 10px;
  z-index: 9999;
}
